.header-container {
  width: 100%;
  padding: 50px 20px 20px;
}
.main-header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-size: 30px;
  font-weight: 600;
}
.header-icon-area {
  display: flex;
  align-items: center;
}
.header-icon-area i {
  margin-left: 20px;
}
.header-icon-area a:hover i {
  animation: setAni 1s linear infinite;
}
@keyframes setAni {
  from {
    transform: initial;
  }
  to {
    transform: rotateZ(360deg);
  }
}
