* {
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"] {
  width: 100%;
  border: none;
  background-color: transparent;
  outline-offset: 0;
  box-sizing: border-box;
  outline: none;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.badge-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0 5px;
  background-color: rgb(251, 56, 17);
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
}
.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 207, 48);
  animation: splashScreenAni 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}
.splash-screen i {
  font-size: 80px;
}

@keyframes splashScreenAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.no-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 207, 48);
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .no-mobile {
    display: none;
  }
}
