.friends-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #f1f1f1;
}
.friends-top i {
  font-size: 10px;
  opacity: 0.5;
}
.friends-top p {
  margin: 0 5px;
  font-size: 10px;
  font-weight: 500;
}
.friends-middle {
  margin-top: 10px;
  padding: var(--common-padding);
}
.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.user-left-box {
  display: flex;
  align-items: center;
}
.user-component .img-box {
  flex-shrink: 0;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.user-title-box {
  margin-left: 10px;
}
.user-title-box > span {
  font-size: 15px;
  font-weight: 700;
}
.user-title-box p {
  margin-top: 5px;
  font-size: 10px;
  opacity: 0.5;
}
.channel-area {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.channel-area .user-right-box {
  opacity: 0.5;
  font-size: 12px;
}
.channel-area .channel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  opacity: 0.5;
}
.channel-middle {
  margin-top: 15px;
}
