.login-container {
  width: 100%;
  margin-top: 100px;
  padding: var(--common-padding);
  text-align: center;
}
.login-header h1 {
  font-size: 20px;
  font-weight: 500;
}
.login-header p {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}
.login-form-area {
  margin-top: 80px;
  text-align: center;
}
.login-form-area input {
  padding: 15px 0;
  border-bottom: 1px solid #000;
  font-size: 15px;
  opacity: 0.8;
}
.login-form-area .submit-box {
  margin: 30px 0 20px;
}
.login-form-area .submit-box input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 10px 0;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.login-form-area a {
  font-size: 10px;
  font-weight: 500;
}
