<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <div class="top-status-bar-container">
      <div class="top-status-bar-area">
        <div class="top-status-bar-left">
          <span>No Service</span>
          <i class="fa-solid fa-wifi"></i>
        </div>
        <div class="top-status-bar-middle">
          <span>18:43</span>
        </div>
        <div class="top-status-bar-right">
          <span>11%</span>
          <i class="fa-solid fa-battery-full fa-lg"></i>
          <i class="fa-solid fa-bolt"></i>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/e368ddce87.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
